extends ../templates/_main.pug
include ../helpers/mixins.pug



  block link-active
    //- -const active = 1;
    -const active = `about`;


block content

  include ../modules/_breadcrumbs

  section.best-block.mb120
    .best-block__inner.container
      h1.best-block__title.title.size-4 Лучшие сотрудники месяца
      .best-block__col-wrap.column-wrap
        .best-block__col.column-left
          section.best
            .best__inner
              h2.best__title Документы  нашей компании
              .best__main-tabs.main-tabs
                
                ul.main-tabs__list
                  each val in main_tabs
                    li.main-tabs__item
                      a.main-tabs__link(href=`#main-tab__${val}` class=(`image-${val}`))

                each val in main_tabs
                  section.main-tabs__content.sub-tabs.best-tabs(id=(`main-tab__${val}`) class=(`main-tabs__cont--${val}`) data-accordion-group)
                    h3.best-tabs__title.size-3 Лучшие сотрудники месяца 
                      span.best-tabs__brand= `${val}`

                    .sub-tabs__content(data-content)
                          -let n = 0
                          while n<3
                            -n++
                            a.sub-tabs__link.private-card.private-card--structure(href="/personal.html")
                              figure.private-card__img-wrap
                                +img(`man2`, `png`, `Наш сотрудник`, `private-card__img`, `80`, `80`)
                              h4.private-card__title.size-1 Иванов Иван Иванович
                              p.private-card__proff Руководитель отдела продаж


        .best-block__col.column-right
          - activeTile = `Лучшие сотрудники`
          include ../modules/_tiles

  include ../modules/_anonymous.pug
